#img-self {
  max-width: 265px;
  /* float: left; */
}

body {
  /* background: lightgreen; */
  font-family: sans-serif;
}

#project-list {
  margin: 0;
  padding-left: 20px;
}

.container {
  margin-left: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 30px;
}

#sidebar {
  display: flex;
  min-height: 100vh;
  max-width: 200px;
  min-width: 200px;
  /* max-width: 15%;
  min-width: 15%;  other option for sidebar*/
}

.sidebar-list {
  list-style-type: none;
}

.sidebar-list li {
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  /* max-width: 80%; this helps deal with the overlap thing if needed*/
  max-height: 80vh;
}
/* 
#about {
  float: left;
} */