#img-self {
  max-width: 25%;
  /* float: left; */
}

body {
  /* background: lightgreen; */
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

#project-list {
  list-style-type:circle;
}

.container {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  display: flex;
  width: 18%;
  min-height: 100vh;
  margin-top: 50px;
}

.sidebar-list {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

#main {
  margin-top: 50px;
}